body {
  background-color: #d3d3d3;
  padding: 0;
}

.project-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #fff;
  margin: 0;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 10px;
  border-bottom: #d3d3d3 solid 1px;
}

.menu-text {
  align-self: center;
}

.reload {
  width: 15px;
  height: 15px;
  align-self: center;
}

.add-container {
  border-bottom: #d3d3d3 solid 1px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#form {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.add-task {
  border: none;
  font-style: italic;
  font-size: 15px;
  outline: none;
}

.submit-button {
  background-color: transparent;
  border: none;
}

.enter {
  width: 15px;
  height: 15px;
  align-self: center;
}

.list-container {
  display: flex;
  flex-direction: column;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  border-bottom: #d3d3d3 solid 1px;
}

.content-div {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 45px;
}

.content {
  border: none;
  text-decoration: none;
}

.clear-btn {
  border: none;
  height: 45px;
  opacity: 0.6;
}

.item-menu {
  height: 35px;
  width: 30px;
  opacity: 0.6;
  position: absolute;
  right: 0;
}

.trashcan {
  height: 25px;
  width: 25px;
  opacity: 0.6;
  display: none;
}

.false {
  text-decoration: none;
}

.true {
  text-decoration: line-through;
  opacity: 0.5;
}
